.square {
    background-color: white; /* 方格背景顏色 */
    width: 50px; /* 方格寬度 */
    height: 50px; /* 方格高度 */
    border: 1px solid grey; /* 方格邊框 */
    font-size: 24px; /* 字體大小 */
    font-weight: bold; /* 字體粗細 */
    cursor: pointer; /* 滑鼠指針樣式 */
    line-height: 50px; /* 行高，使文字垂直居中 */
    margin: auto; /* 自動上下外邊距 */
    float: left; /* 左浮動 */
    text-align: center; /* 文字水平居中 */
    cursor: pointer; /* 滑鼠指針樣式 */
}

.square:hover {
    background-color: deeppink; /* 滑鼠懸停時的背景顏色 */
    color: white; /* 滑鼠懸停時的文字顏色 */
}

.game {
    width: 400px; /* 遊戲區域寬度 */
    margin: auto; /* 自動上下外邊距 */
    border: 3px solid blue; /* 遊戲區域邊框 */
    border-radius: 20px; /* 遊戲區域圓角 */
    padding: 20px; /* 內邊距 */
    display: flex; /* 使用彈性盒子布局 */
    flex-direction: row; /* 主軸方向為水平排列 */
    align-items: center; /* 垂直居中對齊 */
}

.game-board {
    background-color: gainsboro; /* 遊戲版面背景顏色 */
    padding: 10px; /* 內邊距 */
    border-radius: 10px; /* 圓角 */
    border: 1px solid black; /* 邊框 */
}

.game-info {
    margin-left: 30px; /* 左側外邊距 */
    margin-right: 10px; /* 右側外邊距 */
    padding: 5px; /* 內邊距 */
}

.board-row:after {
    clear: both; /* 清除浮動 */
    content: ''; /* 生成內容 */
    display: table; /* 以表格方式顯示 */
}

.status {
    margin-bottom: 10px; /* 底部外邊距 */
}
